@import "tailwindcss";

html {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*    border-radius: 4px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

button,
label {
    --wails-draggable: false
}

label{
    @apply accent-sky-600;
}

#app {
    height: 100vh;
}

* {
    scrollbar-color: rgba(95, 95, 95, 0.5) transparent;
    @apply select-none;
}

.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(95, 95, 95, 0.5) #8181811a;
    scrollbar-color: rgba(95, 95, 95, 0.5) transparent;
    @apply select-none;
}

pre {
    @apply select-text;
}

.btn, .btn-sm{
    @apply bg-white dark:bg-neutral-700 text-black dark:text-white text-sm border border-black/15 dark:border-white/15 px-3 py-1 rounded cursor-pointer flex gap-1 items-center disabled:pointer-events-none disabled:opacity-50;
}

.btn-sm{
    @apply text-xs px-1 py-0.5;
}

.btn-block{
    @apply flex whitespace-nowrap min-w-32 overflow-hidden outline-none cursor-pointer dark:text-white hover:bg-white/50 dark:hover:bg-white/10 text-left;
}

.active{
    @apply bg-white dark:bg-neutral-700/50;
}

.input-setting{
    @apply bg-white dark:bg-neutral-700/50 text-sm border border-black/15 dark:border-white/15 text-black dark:text-white disabled:text-black/50 dark:disabled:text-white/50 px-3 py-2 rounded-lg cursor-pointer flex gap-1.5 items-center;
}

.windowsButton{
    --wails-draggable: false;
    @apply w-[46px] flex items-center justify-center hover:bg-black/5 dark:hover:bg-white/5;
}

.windowsButton svg{
    @apply invert dark:invert-0;
}

.closeButton{
    @apply w-[45px] hover:bg-red-700 dark:hover:bg-red-600;
}

.closeButton:hover svg{
    @apply invert-0;
}

.menuButton{
    --wails-draggable: false;
    @apply cursor-pointer h-full flex items-center text-sm dark:text-white px-2 dark:hover:bg-white/10 hover:bg-black/10;
}

  .menuDropdown {
    --wails-draggable: false;
    @apply absolute left-2 min-w-40 bg-neutral-100 text-black rounded-lg shadow overflow-auto p-1 border border-black/20;
    max-height: calc(100vh - 40px);
    top: calc(100% + 4px);
    scrollbar-width: none;
  }

  .menuItem {
    @apply rounded px-2 py-1.5 cursor-pointer hover:bg-black/10 whitespace-nowrap;
  }