@import "tailwindcss";

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

button,
label {
    --wails-draggable: false
}

label{
    @apply accent-sky-600;
}

#app {
    height: 100vh;
}

* {
    scrollbar-color: rgba(95, 95, 95, 0.5) transparent;
    @apply select-none;
}

.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(95, 95, 95, 0.5) #8181811a;
    @apply select-none;
}

pre {
    @apply select-text;
}

.btn, .btn-sm{
    @apply bg-white dark:bg-neutral-700 text-black dark:text-white text-sm border border-black/15 dark:border-white/15 px-3 py-1 rounded cursor-pointer flex gap-1 items-center disabled:pointer-events-none disabled:opacity-50;
}

.btn-sm{
    @apply text-xs px-1 py-0.5;
}

.btn-block{
    @apply flex whitespace-nowrap min-w-32 overflow-hidden outline-none cursor-pointer dark:text-white hover:bg-white/50 dark:hover:bg-white/10 text-left;
}

.active{
    @apply bg-white dark:bg-neutral-700/50;
}

.input-setting{
    @apply bg-white dark:bg-neutral-700/50 text-sm border border-black/15 dark:border-white/15 text-black dark:text-white disabled:text-black/50 dark:disabled:text-white/50 px-3 py-2 rounded-lg cursor-pointer flex gap-1.5 items-center;
}